*{
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    margin: 0%;
    overflow-x: hidden;
    
}

header,section,footer{
    width: 100%;
}
 .container{
    width: 80%;
    margin: auto;
 }

 .flex-parent{
   display: flex;
   flex-wrap: wrap;
 }

 .topbar{
    background-color: #018e43;
    padding: 5px;
 }
 .info, .follow{
    width: 50%;
 }
 
 .topbar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
 }
 .follow{
    text-align: end;
 }

 header{
    background-color: white;
    padding-bottom:0px;
    position:static;
    z-index:999;
 }

 .logo{
    width: 30%;
    height: 100px;
    padding: 15px;
 }
 
 nav{
    width:70%;
    height: 100px;
    text-align: end;
    padding: 15px;
 }
 
 
 nav ul li{
    display: inline-block;
    padding: 15px;
    padding-right:30px;
    
 }
 .main img{
    width: 100%;
 }
 .about{
    background-color: white;
    width: 100%;
 }

.aboutcontent{
    width: 60%;
    padding: 40px;
}

.about img{
   width:130%;
   padding-top: 80px;
   margin-top: 50px;
}



.courses{
   text-align: center;
   height: 300px;
}

.course{
   width: 25%;
   text-align: center;
   padding: 30px;
}
figure{
   margin: 0%;
   
}
 .course figure img{
   width:180px;
   height:200px;
}

.batch{
   text-align: center;
   padding: 20px;
   background-color: white;
}
table{
   width: 100%;
   margin: 0%;
   padding-bottom: 20px;
   border-collapse: collapse;
}
table tr{
   width: 100%;
   height: 50px;
}
table tr td{
   border: 1px solid black;
}
table tr th{
   border: 1px solid black;
   background-color: #018e43;
   padding-bottom: 10px;
}
.models{
   text-align: center;
   padding: 20px;
}

.model{
   width: 25%;
   padding: 10px;
}


figure{
   margin: 0%;
   height:300px;
}
figure img{
   width:20%;
   
}
.model figure{
   
   padding: 10px;
   background-color: azure;
}
.model figure p{
   margin:20px;
   height: 20%;
}
.model figure figcaption{
   padding: 10px;  
}

.choose{
   text-align: center;
   padding: 30px 10px;
   background-color: white;
   
}

.choose h1{
   font-size: 30px;
}
.media{
   width: 50%;
   height: 150px;
   text-align: start;
   padding: 30px;
}

.media h3{
   color: brown;
}
.media p{
   padding: 5px;
   font-size:20px;
}
.follower{
   background-image: url("bg-2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 10px;
}

.following{
      display: inline-block;
      padding: 110px;
      color: white;
      font-size: 22px;
      font-weight: 100;
   }

.review{
   text-align: center;
   padding: 20px;
   margin-bottom: 20px;
   background-color: white;
}

.review h1{
   font-size: 30px;
}

.review p{
   padding: 10px;
   text-align: start;
   font-size:20px;
}

.placements{
   text-align: center;
   height: 370px;
   background-color: lightgray;
   
}


figure{
   margin: 0%;
}
.placement{
   width: 25%;
   padding: 10px;
}


.placement figure img{
   border: 3px solid peachpuff;
   height: 200px;
   width: 200px;
}
 
.approachs{
   width: 100%;
   text-align: center;
   padding: 10px;
   background-color: white;
}

.approachs h1{
   font-size:30px;
}
.approach figure{
   width:140%;
   height:200px;
   padding: 20px;

}
.approach figure img{
   border:transparent;
   width:80%;
   height: 80%;
   padding-right:90px;
}
.approach figcaption{
   font-size:20px;
   padding-right: 70px;
}

footer{
   width:100%;
   
}
footer h1{
text-align: center;
}
.places{
   width: 100%;
   padding-left:150px ;
   padding-bottom: 30px;
}

.places h1{
   font-size: 30px;
   padding-right:130px;
}

.place button{
   width: 150px;
   height: 50px;
   color: white;
}



button{
   background-color: #018e43;
}
.b{
   background-color: red;
}
.c{
   background-color: blue;
}

.social button{
   width: 200px;
   height: 50px;
   border: none;
   background-color: green;
   color: white;
   position: fixed;
   bottom: 30px;
   right: 50px;
   z-index: 1;
}

nav ul li:hover{
   background-color: #018e43;
    color: white;
    cursor: pointer;
}